name: CSV Data Loader

on:
  workflow_dispatch:

permissions:
  contents: write


jobs:
  process-csv:
    runs-on: ubuntu-latest

    steps:
      # -----------------------------
      # STEP 1: csv read
      # -----------------------------
      - uses: actions/checkout@v4
      
      - name: Read first CSV entry and delete it
        run: |
          echo "==== Reading first entry from CSV ===="

          FIRST_ENTRY=$(awk 'NR==2 {print; exit}' toBeAdded.csv)

          if [ -z "$FIRST_ENTRY" ]; then
            echo "CSV has no data rows left"
            exit 0
          fi

          echo "First mobile entry:"
          echo "$FIRST_ENTRY"

          echo "==== Deleting first entry from CSV ===="
          awk 'NR==1 || NR>2' toBeAdded.csv > toBeAdded.tmp
          mv toBeAdded.tmp toBeAdded.csv

          echo "==== Updated CSV ===="
          cat toBeAdded.csv

      - name: Commit updated CSV
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add toBeAdded.csv
          git commit -m "Remove processed CSV entry" || echo "No changes to commit"
          git push
