name: Firestore Catalogue Upload

on:
  workflow_dispatch:   # manual trigger from GitHub UI

jobs:
  upload:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          token_format: access_token

      - name: Show full Bearer Token
        run: |
          echo "Access token:"
          echo "${{ steps.auth.outputs.access_token }}"

      - name: Create Firestore document
        run: |
          curl -X POST \
          "https://firestore.googleapis.com/v1/projects/site-9686c/databases/(default)/documents/Catalogue?documentId=Moto%20G60" \
          -H "Authorization: Bearer ${{ steps.auth.outputs.access_token }}" \
          -H "Content-Type: application/json" \
          -d '{
            "fields":{"model":{"stringValue":"Motorola Edge 50 Pro"},"architecture":{"stringValue":"Android"},"aspectRatio":{"stringValue":"20:9"},"displayResolution":{"stringValue":"1440x3200"},"displayType":{"stringValue":"AMOLED"},"screenSize":{"doubleValue":6.7},"screenProtection":{"stringValue":"Gorilla Glass Victus 2"},"refreshRate":{"integerValue":120},"screenToBodyRatio":{"doubleValue":0.92},"pixelDensity":{"integerValue":525},"bezelLessDisplay":{"booleanValue":true},"chipset":{"stringValue":"Qualcomm Snapdragon 8 Gen 3"},"cpu":{"stringValue":"Octa-core (1x3.2GHz Cortex-X4 & 3x2.8GHz Cortex-A720 & 4x2.0GHz Cortex-A520)"},"graphics":{"stringValue":"Adreno 770"},"performance":{"stringValue":"High"},"ram":{"integerValue":12},"storage":{"integerValue":256},"expandable":{"booleanValue":false},"internalMemory":{"integerValue":256},"battery":{"stringValue":"Li-Po"},"batteryCapacity":{"integerValue":5000},"batteryType":{"stringValue":"Li-Po"},"batteryRemovable":{"booleanValue":false},"quickCharging":{"booleanValue":true},"usbConnectivity":{"stringValue":"USB Type-C"},"usbType":{"stringValue":"USB 3.2"},"weight":{"doubleValue":190},"dimensions":{"stringValue":"162.5 x 73.5 x 8.2 mm"},"material":{"stringValue":"Aluminum"},"stereoSpeakers":{"booleanValue":true},"audioJack":{"booleanValue":false},"bluetooth":{"stringValue":"5.3"},"wifi":{"stringValue":"Wi-Fi 6E"},"wifiFeatures":{"stringValue":"802.11ax, Dual-band"},"networkSupport":{"stringValue":"5G, 4G LTE, 3G"},"simSlot":{"stringValue":"Dual SIM"},"simSize":{"stringValue":"Nano-SIM"},"sim1":{"stringValue":"Primary"},"sim2":{"stringValue":"Secondary"},"voLte":{"booleanValue":true},"nfc":{"booleanValue":true},"operatingSystem":{"stringValue":"Android 14"},"otg":{"booleanValue":true},"sar":{"doubleValue":0.99},"ruggedness":{"booleanValue":false},"waterproofing":{"stringValue":"IP68"},"launchDate":{"stringValue":"2024-10-15"},"priceList":{"integerValue":799},"comparePrices":{"stringValue":"Motorola Edge 50 Pro vs Samsung Galaxy S24"}}}
          }'
